/* General */
body {
	padding-top: 70px;
	background: #E5E5E5 url("bcg.png") repeat;
	color: #555;
}

a:hover {
	color: #428BCA;
	text-decoration: none;
}

a:focus {
	outline: none;
}


/* Navigation */
.navbar {
	background: #043448;
	border-color: #011A25;
}

.navbar .navbar-brand {
	color: #DCDCDC;
}

.nav a,
.nav a .caret,
.nav a:hover .caret {
	color: #DCDCDC;
	border-top-color: #DCDCDC;
	border-bottom-color: #DCDCDC;
}

.nav .open > a,
.nav > li > a:focus {
	background: #043448;
	border-color: #011A25;
}

.nav .active,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover {
	background: #104F6A;
}

.nav ul li > a:hover {
	background: #3080A3;
}


/* Metadata */
.meta {
	margin-bottom: 20px;
}

.meta img, .controls {
	width: 51px;
	height: 51px;
	margin-right: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.meta img {
	float: left;
}

.info p, #summary p {
	margin: 0;
	font-size: 12px;
}

#summary p:first-child {
	margin-left: -12px;
}

#summary span {
	margin-left: 12px;
	margin-right: 4px;
}


/* Player */
.controls {
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
}

.controls ul {
	margin-top: 12px;
	margin-left: 15px;
	padding: 0;
	list-style: none;
}

.controls .glyphicon {
	font-size: 21px;
	color: #F9D423;
}

.stop {
	display: none;
}


/* Features */
.feature > p {
	color: #555;
	font-size: 12px;
}

.feature > div {
	height: 200px;
	margin-bottom: 30px;
	background-color: #F8F8FF;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}